:root {
  --blue: #6495ed;
  --black: black;
  --background: #f5f7ff;
  --white: #ececec;
  --white-side: #fff;
  --sidebar: #fff;
  --font-color: #6c7383;
  --dark-grey: #121212;
  --dark-primary: #121212;
  --light-dark: #2d2d2d;
  --dark: #1d1d1d;
  --submit: #fff;
  --read-only: #808080;
  /* body-background = #1f1f1f; */
  /* back-ground = #1e1e1e */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--font-color);
}



*::-webkit-scrollbar-track
{

	background-color: #c5c5c5;
}

*::-webkit-scrollbar
{
	width: 6px;
	background-color: #ffffff;
}

*::-webkit-scrollbar-thumb
{
  height: 5px;
	background-color: #6c7383;
}


label {
  font-size: 15px;
  color: lightgrey;
  margin-bottom: -5px;
  margin-left: 10px;
}

.search_box {
  border: none;
}

* {
  box-sizing: border-box;
}

body {
  background: #e0e7f1;
  font-family: sans-serif;
  font-size: 14px;
}

.table100 .ps__rail-y {
  width: 9px;
  background-color: transparent;
  opacity: 1 !important;
  right: 5px;
}

.table100 .ps__rail-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ebebeb;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}

.table100 .ps__rail-y .ps__thumb-y {
  width: 100%;
  right: 0;
  background-color: transparent;
  opacity: 1 !important;
}

.table100 .ps__rail-y .ps__thumb-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ccc;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}

.limiter {
  width: 1366px;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: var(--white-side);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1170px;
}

.table100 {
  background-color: var(--white-side);
}

table {
  width: 100%;
}

th,
td {
  font-weight: unset;
  padding-right: 10px;
}

tbody tr:hover {
  background-color: var(--white);
}

.column1 {
  width: 15%;
  padding-left: 40px;
}

.column2 {
  width: 15%;
}

.column3 {
  width: 20%;
}

.column4 {
  width: 15%;
}

.column5 {
  width: 25%;
}

.column6 {
  width: 10%;
}

.table100-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.table100-body td {
  padding-top: 16px;
  padding-bottom: 16px;
}

.table100 {
  position: relative;
  padding-top: 60px;
}

.table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.table100-body {
  max-height: 450px;
  overflow: auto;
}

.table100.ver2 .table100-head {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.table100.ver2 th {
  font-size: 15px;
  color: var(--font-color);
  line-height: 1.4;
  background-color: transparent;
}

.table100.ver2 td {
  font-size: 13px;
  color: var(--font-color);
  line-height: 1.4;
}

.table100.ver2 .table100-body tr {
  border-bottom: 1px solid #f2f2f2;
}

.table100.ver2 {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.05);
}

.table100.ver2 .ps__rail-y {
  right: 5px;
}

.table100.ver2 .ps__rail-y::before {
  background-color: #ebebeb;
}

.table100.ver2 .ps__rail-y .ps__thumb-y::before {
  background-color: #ccc;
}

/* Search Container */

.InventorySearch {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 0, 0);
  z-index: 9;
}
.AuditSearch {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 0, 0);
  z-index: 9;
}
.TransferSearch {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 0, 0);
  z-index: 9;
}

.InventorySearch.show {
  top: 0;
}
.AuditSearch.show {
  top: 0;
}
.TransferSearch.show {
  top: 0;
}

.SearchContainer {
  position: fixed;
  padding: 20px;
  width: 500px;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white-side);
  z-index: 10;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  /* display: none; */
  transition: all 0.4s ease;
}

.form-control {
  margin-bottom: 8px;
  background-color: var(--sidebar);
  color: var(--font-color);
}
.form-control:focus {
  background-color: var(--sidebar);
}
option{
  background-color: var(--sidebar);
}
.containers {
  position: absolute;
  padding: 20px;
  margin-bottom: 10px;
  width: 60%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: auto;
  background-color: var(--sidebar);
  overflow: auto;
}
/*
.SearchContainer .form-control {
} */

.custom-button {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.custom-button:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.not-container {
  margin: 25px 50px;
  padding: 25px;
  background-color: var(--sidebar);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.custom-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #333; /* Black border around the table */
  overflow: auto;
}

/* Styles for the table header (th) */
.table-header {
  background-color: #333; /* Dark background color */
  color: white; /* White text color */
  padding: 10px;
}

/* Styles for the table data cells (td) */
.table-data {
  border: 1px solid #333; /* Black border for each cell */
  padding: 8px;
}
.error-cell{
  background-color: red;
  color: white;
}
.errors{
  color: red;
  margin: -20px 0 0 10px;
}
.modal-body{
  background-color: var(--sidebar);
}

